body{
    text-align: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 2%, rgba(45,126,253,1) 97%);
    border-style:solid;
}


#apps{
    background: linear-gradient(0deg, rgba(34,193,195,1) 2%, rgba(253,152,45,1) 97%);
}

#myCarousel{
   background-color: red;
}
#myCarousel img{
height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 70px;
    margin-top: 8px;
    color: white;
    font-size: 20px;
}
.sp img{
   height:300px;
    width:400px;
}