body{
    text-align:center;
    background-color: aquamarine;
}
img{
    width:500px;
    height:500px;
    border-radius: 20px;
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}
img:hover{
    transform: scale(0.9);
}